html, body {
    margin: 0;
    padding: 0;
   
}

#root {
    height: 100vh;
  }

:root {
    --side: rgb(28, 89, 124);
    --dark: rgb(22, 63, 87);
}

.pane {
    height: 50vh;
    display: flex;
    background-color: rgb(33, 104, 145);
   
}

.editTitle{
    font-size: 2.2rem;
    padding-top: 0;
    align-items: center;
    justify-content: center;
    height: 5vh;
    background-color: rgb(20, 59, 82);
    
}

.editTitle a{
    text-decoration: none;
    color: white;
}

.edicon{
    font-size: 1.6rem;
}

.bottom {
    background-color: rgb(93, 175, 223);

}

.editor-container {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    /* background-color:rgba(33, 104, 145, 0.822); */
}

.editor-container.collapsed {
    flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll{
    position: absolute;
    overflow: hidden !important;
}

.corner-btn {
    margin-left: 0.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.editor-title {
    display: flex;
    justify-content: space-between;
    background-color: rgb(20, 59, 82);
    color: white;
    padding: 0.5rem  0.5rem  0.5rem 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.CodeMirror {
    height: 100% !important;
}

.code-mirror-wrapper {
    flex-grow: 1; 
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow: hidden;
}

/* Header */
.heading{
    background-color: var(--side);
    color: white;
    font-size: 2.5rem;
    border-bottom: 2px solid #000;
}

.navbtn{
    display: flex;
    font-size: 2.5rem;
    border-width: 0.1rem;
    border-radius: 1px;
    color: white;
    background-color: var(--dark);
    
}

.yellow{
    color: yellow;
    font-size: 2rem;
    padding-top: 0.2rem;
}


  /* Footer */
  
.copyright{
    display: flex;
    justify-content: space-around;
    color: white;
    width: 100%;
    background-color: var(--dark);
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 1.4rem; 
    padding: 0.5rem;
    border-top: 2px solid #000;
  }

  /*Home page  */

  .Home{
    height: 100vh;
}

  .startBg{
      background-color: rgb(11, 29, 44);
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
  }


  .sidebar {
      background-color: var(--side);
      height: 100%;
      width: 4.5rem; 
      border-right: 2px solid #000; 
  }

.side-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.6rem;
}

.myicon{
    padding-top: 3rem !important;  
}

.fab, .fas {
    padding: 0rem;
    color:white;
}

.mainpart{
    display: flex;
}

.testimg{
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 5%;
}

.mainpage{
    width: 100%;
    height: 100%;
    color: white;
    background-color: #112435;
}

.content{
    display: flex;
    font-size: 3.5rem;
    padding: 1rem;
}

.Para{
    display: inline-block;
    font-size: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    width: 50%;
}

.pink{
    display: inline-block;
    color:rgb(255, 5, 234);
    font-weight: bolder;
}

.pink1{
    display: inline-block;
    color:rgb(255, 5, 234);
}

.green{
    display: inline-block;
    color: rgb(0, 255, 34);
}

.blue2{
    display: inline-block;
    font-size: 2.5rem;
    font-weight: bolder;
    /* text-decoration: underline; */
}

.blue2 a{
    color:rgb(0, 140, 255);
    text-decoration: none underline;
}
.blue{
    display: inline-block;
    color:rgb(0, 140, 255);
}

.blue1{
    display: inline-block;
    color:rgb(0, 217, 255);
}

.red{
    display: inline-block;
    color: rgb(255, 0, 0);
}

.yellow1{
    display: inline-block;
    color: yellow;
}

  
  .navicon{
    -webkit-text-stroke: 2px var(--dark);
  }


/*Start media queries*/
@media screen and (max-width: 800px) {
/* Header */
.heading{
    font-size: 1.7rem;
}

.navbtn{
    font-size: 1.7rem;
}

.yellow{
    font-size: 1rem;
}

.mainpart{
    display: flex;
    flex-direction: column;
}

  /* Footer */
  
.copyright{
    font-size: 1rem; 
    padding: 0.5rem;
  }

  /*Home page  */
  .sidebar {
      width: 2.8rem; 
  }

.side-icon {
    font-size: 1.6rem;
}


.content{
    display: flex;
    font-size: 2.5rem;
    padding: 1rem;
}

.Para{
    font-size: 1.5rem;
    width: 80%;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.blue2{ 
    font-size: 2.2rem;
}


 }
    

@media screen and (max-width: 600px){

    /* Header */
.heading{
    font-size: 1.3rem;
}

.navbtn{
    font-size: 1.5rem;
}

.yellow{
    font-size: 1rem;
}

.mainpart{
    display: flex;
    flex-direction: column;
}


  /* Footer */
  
.copyright{
    font-size: 0.6rem; 
    padding: 0.1rem;
  }


.content{
    display: flex;
    font-size: 1.2rem;
    padding: 0.6rem;
}

.Para{
    font-size: 1rem;
    width: 80%;
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
}


.blue2{ 
    font-size: 1.1rem;
    padding-bottom: 0.3rem;
}

.top{
    flex-direction: column;
    height: 62vh;
}

.testimg{
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 5%;
}

.CodeMirror {
    height: 100% !important;
    max-height: 87px;
}

.code-mirror-wrapper {
    padding-top: 0rem;
    padding-bottom: 0rem;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}


}

/*End media queries*/